html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgvMem36PjY4e6QDmUToylmUqFPL9HDd1sLw&usqp=CAU);
}
#first{
    margin: 1%;
    }